
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Google Sans Flex", sans-serif;;
}


@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@layer components {
  select {
    appearance: base-select;
  }
  ::picker(select) {
    appearance: base-select;
    border-radius: 3px;
    padding: 5px;
      background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: pointer;
  }
  select::picker-icon {
    content: '▼';
      font-size: 1em;
      color: #555;
      align-content: center;
      margin-right: 5px;
      transition: 0.2s ease;
  }
  select:open::picker-icon {
    transform: rotate(180deg);
  }
  select option {
    padding: 5px;
        cursor: pointer;
        border-radius: 2px;
  }
  select option:checked {
    background-color: #e0e0e0;
  }
  select option::checkmark {
    color: green;
    margin-right: 5px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  textarea {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    resize: none;
  }
  .btn {
    background: linear-gradient(90deg, var(--btnbg), var(--light-mainbg));
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 500;
  }

  @media (width < 640px) {
    .btn {
      font-size: 0.8rem;
      padding: 3px 8px;
      border-radius: 3px;
    }
    select {
      font-size: 0.8rem;
      padding: 2px 5px;
      border-radius: 3px;
    }
    select option {
      font-size: 0.8rem;
      padding: 2px 5px;
    }
    input {
      font-size: 0.8rem;
      padding: 2px 5px;
      border-radius: 3px;
    }
  }

}
:root {
  --accent: #3b82f6;
  --sidebar: #1d293d;
  --dark-sidebar: #0ea5e9;
  --mainbg: #2f3e55;
  --light-mainbg: #ebf2ff;
  --btnbg: #c8ddff;
  --dark: #091a30;
}

.theme-green {
  --accent: #22c55e;
  --sidebar: #203326;
  --dark-sidebar: #16a34a;
  --mainbg: #30473b;
  --light-mainbg: #e0fced;
  --btnbg: #cefed5;
  --dark: #042311;
}

.theme-purple {
  --accent: #a855f7;
  --sidebar: #292334;
  --dark-sidebar: #6d50f0;
  --mainbg: #352d42;
  --light-mainbg: #f3e8ff;
  --btnbg: #e4d5ff;
    --dark: #1a0c33;
}

.theme-red {
  --accent: #f35500;
  --sidebar: #2d1d1d;
  --dark-sidebar: #d97706;
  --mainbg: #342626;
  --light-mainbg: #ffebe7;
  --btnbg: #fdd0ca;
  --dark: #220404;
}